body {
      font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
      color: #818181;
	  background-color: #F1FAE8;
}
h1 {
    color: #000;
    text-transform: uppercase;
    padding: 3.33em 1.67em;
    text-align: center;     
	}
h2{
	color: #000;
    text-transform: uppercase;
    padding: 0.8em 1.67em;
    text-align: left;  
}
table{
    border: 0.13em solid #000;
}
th,td{
    border: 0.07em solid #000;
}
img {
	margin: auto;
	float: right;
	max-width: 50%;
	height: auto;
}
a:link{
        color: #FF5733;
  }
a:visited{
        color: black;
}